<div>
    <!-- Sidebar -->
    <nav id="sidebar">
      
        <ul class="list-unstyled components">
            <li class="nav-item">
                <a routerLink="/home/homecontent" class="nav-link text-light">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="refs/refslist" class="nav-link text-light">Gestion du référentiel</a>
            </li>
            <li class="nav-item">
                <a routerLink="gestVoit/listvoitures" class="nav-link text-light">Gestion Voitures</a>
            </li>
            <li class="nav-item">
                <a routerLink="gestAdmin/listusers" class="nav-link text-light">Gestion des utilisateurs</a>
            </li>
            <li class="nav-item">
                <a routerLink="gestAdmin/listprofiles" class="nav-link text-light">Gestion des profils</a>
            </li>
        </ul>
    </nav>
</div>


  <!-- <p>Dummy Heading</p> -->
            <!-- <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li> -->
              <!-- <div class="sidebar-header">
            <h3>Application Gti</h3>
        </div> -->
