<div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <!-- <label for="successMessage">Success Message</label>
    <input type="text" name="successMessage"> -->
    <!-- <input type="submit"  name="submitSuccess" value="Submit"> -->
    <button class="button" name="submitSuccess" (click)="onSubmit()">Success Message</button>
    
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    

    <div *ngIf="submit">
        <fa-icon [icon]="successIcon" [styles]="{'color': 'green'}">

        </fa-icon>  {{ successMessage }}
    </div>
    
    
</div>
