<p></p>
<p></p>
<h1>Liste des profils</h1>
<p></p>
<p></p>
<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)">
    
    <input type="text" name="code" id="code" formControlName="code" placeholder="Code" >
    <input type="text" name="name" id="name" formControlName="name" placeholder="Nom">

    <button class="button" type="submit">
        <!-- <div *ngIf="editIndexBool; else elseTemplate"> -->
        <div *ngIf="!editMode; else elseTemplate">
            <fa-icon class="faIcon" id="addIcon" [icon]="plusIcon"></fa-icon>
        </div>
        
        <ng-template #elseTemplate>
            <fa-icon class="faIcon" id="editIcon" [icon]="editIcon"></fa-icon>
        </ng-template>
    </button>

</form>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<table class="table table-hover table-bordered table-fixed">
    <thead class="thead-light">
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Nom</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let profile of profiles" [profile]="profile">
            <td scope="row">{{ profile.code }}</td>
            <td>{{ profile.name }}</td>
            <td class="actions">
                <!-- actions should come here, with icons -->
                <a (click)="onDelete(profile)"><fa-icon class="faIcon actionsIcons" [icon]="deleteIcon" [styles]="{'color': 'red'}"></fa-icon></a>
                <a (click)="onEdit(profile, profile.code)"><fa-icon class="faIcon actionsIcons" [icon]="editIcon" [styles]="{'color': 'blue'}"></fa-icon></a>
            </td>
        </tr>
    </tbody>
</table>