#INTESTAZIONE {
  height: 9vh;
  /* background-color: deepskyblue; */
}

#CORPO {
  height: 160vh;
}

#LATO_SX {
  background-color: rgb(7, 143, 177);
}

#LATO_DX {
  background-color: transparent;
}
/* 
#FINE {
  height: 15vh;
  background-color: lawngreen;
} */





/* .appPageHeader {
    text-align: left;
    width: 130px;
    background: #11aabb;
    color: black;
    font-size: 7px;
    padding: 5px 1em 1em 1em;
    background-color: rgb(24, 155, 179);
  }
  
  .appPageHeader h1 {
    font-size: 15px;
    
  } */