
<h1>Ajouter une voiture</h1>


<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)">
    <div class="form-group row">
        <label for="mark" class="col-sm-2 col-form-label">Marque</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="marque" formControlName="mark">
        </div>
    </div>
    <div class="form-group row">
        <label for="annee" class="col-sm-2 col-form-label">Année</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="annee" formControlName="annee">
        </div>
    </div>
    <div class="form-group row">
        <label for="model" class="col-sm-2 col-form-label">Modèle</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="model" formControlName="model">
        </div>
    </div>
    <div class="form-group row">
        <label for="chassis" class="col-sm-2 col-form-label">Numéro chassis</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="chassis" formControlName="chassis">
        </div>
    </div>
    <div class="form-group row">
        <label for="prix" class="col-sm-2 col-form-label">Prix</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="prix" formControlName="prix">
        </div>
    </div>
    <div class="form-group row">
        <label for="matricule" class="col-sm-2 col-form-label">Immatriculation</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="matricule" formControlName="matricule">
        </div>
    </div>
    <div class="form-group row">
        <label for="color" class="col-sm-2 col-form-label">Couleur</label>
        <div class="col-sm-10">
            <select type="text" class="form-control" name="color" formControlName="color">
                <option [ngValue]="null">Select one ...</option>
                <option *ngFor="let colVoit of keys(eColorVoit)">
                    {{eColorVoit[colVoit]}}
                </option>
            </select>
        </div>
    </div>
    <!-- <div class="form-group row">
        <label for="type" class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-10">
            <ng-select *ngIf="refreshIfUp; else elseTemplate"
                bindLabel="selectedType"
                [compareWith]="compareWith"
                formControlName="type"
                placeholder="Select type">
                <ng-option *ngFor="let type of voitTypes" [value]="type">
                        {{ type.lib }}
                </ng-option>
            </ng-select>
            <ng-template #elseTemplate>
                <ng-select
                    bindLabel="selectedType"
                    formControlName="type"
                    placeholder="Select type">
                    <ng-option *ngFor="let type of voitTypes" [value]="type">
                            {{ type.lib }}
                    </ng-option>
                </ng-select>
            </ng-template>
        </div>
    </div> -->
    <div class="form-group row">
        <label for="etat" class="col-sm-2 col-form-label">État</label>
        <div class="col-sm-10">
            <!-- select differ depending on editing or adding mode !! -->
            
            <select type="text" class="form-control" name="etat" formControlName="etat">
                <option [ngValue]="null">Select one ...</option>
                <option *ngFor="let etatVoit of keys(eEtatVoit)">
                    {{eEtatVoit[etatVoit]}}
                </option>
            </select>
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit">
        <!-- <a [routerLink]="['frmvoiture']"></a> -->
        Submit
    </button>
</form>