<!-- <div  class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title"> </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div> -->

<div class="row">
    <div *ngFor="let ref of refs" [ref]="ref" class="card text-white bg-info mb-3 w-50" style="max-width: 50rem;">
      <div class="card-body">
        
        <h5 class="card-title">
          <a routerLink="/frmref" [state]="{lib: ref.lib}">
            {{ ref.lib }}
          </a>
        </h5>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
</div>