<h1>Liste des voitures</h1>
<div>
    <a [routerLink]="['frmvoiture']"><fa-icon class="faIcon" id="addIcon" [icon]="plusIcon"></fa-icon></a>
    <!-- <fa-icon class="faIcon" id="addIcon" [icon]="plusIcon"></fa-icon> -->
</div>
<div>
    <input class="form-control mt-2" placeholder="Search for an element" [(ngModel)]="query">
</div>
<table class="table table-hover table-bordered table-sm" width="100%">
    <thead class="thead-light">
      <tr>
        <!-- <th [class.active]="order === 'mark'" (click)="setOrder('mark')" scope="col">Marque -->
        <th (click)="setOrder('mark')" scope="col">Marque
            <fa-icon [icon]="faSortIcon"></fa-icon>
        </th>
        
        <th (click)="setOrder('annee')" scope="col">Année
            <fa-icon [icon]="faSortIcon"></fa-icon>
        </th>
        <th (click)="setOrder('model')" scope="col">Modèle
            <fa-icon [icon]="faSortIcon"></fa-icon>
        </th>
        <th (click)="setOrder('chassis')" scope="col">Numéro chassis
            <fa-icon [icon]="faSortIcon"></fa-icon>
        </th>
        <th (click)="setOrder('prix')" scope="col">Prix
            <fa-icon [icon]="faSortIcon"></fa-icon>
        </th>
        <th scope="col">Prix Soldé
            <fa-icon [icon]="faSortIcon"></fa-icon>
        </th>
        <th (click)="setOrder('matricule')" scope="col">Immatriculation
            <fa-icon [icon]="faSortIcon"></fa-icon>
        </th>
        <th (click)="setOrder('color')" scope="col">Couleur
            <fa-icon [icon]="faSortIcon"></fa-icon>
        </th>
        <th (click)="setOrder('type')" scope="col">Type
            <fa-icon [icon]="faSortIcon"></fa-icon>
        </th>
        <th (click)="setOrder('etat')" scope="col">État
            <fa-icon [icon]="faSortIcon"></fa-icon>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let row of (voitures | filterVoit: query | orderBy: order:reverse:'case-insensitive' 
        | paginate: config | soldVoiture)" 
        [row]="row" [appVoitBeforeXYear]="row.annee">
            <td scope="row">{{ row.mark }}</td>
            <td>{{ row.annee }}</td>
            <td>{{ row.model }}</td>
            <td>{{ row.chassis }}</td>
            <td>{{ row.prix }}</td>
            <td>{{ row.prixSold }}</td>
            <td>{{ row.matricule }}</td>
            <td>{{ row.color }}</td>
            <td>{{ row.type }}</td>
            <td>{{ row.etat }}</td>
            <td class="actions">
                <!-- actions should come here, with icons -->
                <a (click)="onDelete(row, $event)"><fa-icon class="faIcon actionsIcons" [icon]="deleteIcon" [styles]="{'color': 'red'}"></fa-icon></a>
                <a [routerLink]="['frmvoiture', row]"><fa-icon class="faIcon actionsIcons" [icon]="editIcon" [styles]="{'color': 'blue'}"></fa-icon></a>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>