<h1>Liste des voitures</h1>
<div>
    <fa-icon class="faIcon" id="addIcon" [icon]="plusIcon"></fa-icon>
</div>
<table class="table table-hover table-bordered table-fixed">
    <thead class="thead-light">
      <tr>
        <th scope="col">Marque</th>
        <th scope="col">Année</th>
        <th scope="col">Modèle</th>
        <th scope="col">Numéro chassis</th>
        <th scope="col">Prix</th>
        <th scope="col">Immatriculation</th>
        <th scope="col">Couleur</th>
        <th scope="col">Type</th>
        <th scope="col">État</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows" [row]="row">
            <td scope="row">{{ row.mark }}</td>
            <td>{{ row.annee }}</td>
            <td>{{ row.model }}</td>
            <td>{{ row.chassis }}</td>
            <td>{{ row.prix }}</td>
            <td>{{ row.matricule }}</td>
            <td>{{ row.color }}</td>
            <td>{{ row.type }}</td>
            <td>{{ row.etat }}</td>
            <td class="actions">
                <!-- actions should come here, with icons -->
                <a (click)="onDelete(row)"><fa-icon class="faIcon actionsIcons" [icon]="deleteIcon" [styles]="{'color': 'red'}"></fa-icon></a>
                <a (click)="onEdit(row)"><fa-icon class="faIcon actionsIcons" [icon]="editIcon" [styles]="{'color': 'blue'}"></fa-icon></a>
            </td>
        </tr>
    </tbody>
</table>