<h1>
    À propos
</h1>

<p class="introP">
    Cette application permet de gérer les référentiels des voitures. 
    Elle contient également une branche
    concernée par la gestion des utilisateurs et leurs profils.
</p>


<h2 style="text-align:center">Rubriques</h2>

<div class="card-columns">
    <div class="card text-dark bg-light">
        <img class="card-img-top" src="../../assets/manage-users.png" alt="">
        <div class="card-body">
        <h5 class="card-title">Utilisateurs</h5>
        <p class="card-text">Gérer les utilisateurs et leurs données.</p>
        <a class="btn btn-primary" routerLink="../gestAdmin/listusers">Détails</a>
      </div>
    </div>
    <div class="card text-dark bg-light">
        <img class="card-img-top" src="../../assets/manage-cars.png" alt="">
        <div class="card-body">
        <h5 class="card-title">Parc des voitures</h5>
        <p class="card-text">Gérer les voitures et leurs données.</p>
        <a class="btn btn-primary" routerLink="../gestVoit/listvoitures">Détails</a>
      </div>
    </div>
    <div class="card text-dark bg-light">
        <img class="card-img-top" src="../../assets/manage-profiles.png" alt="">
        <div class="card-body">
        <h5 class="card-title">Profils</h5>
        <p class="card-text">Gérer les profils et leurs données.</p>
        <a class="btn btn-primary" routerLink="../gestAdmin/listprofiles">Détails</a>
      </div>
    </div>
</div>