<nav class="navbar navbar-expand-md bg-info fixed-top">
    <a routerLink="/home/homecontent" class="navbar-brand text-white">Gti Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/home/homecontent" class="nav-link text-light">Home</a>
        <!-- </li>
        <li class="nav-item">
          
          <a routerLink="/login" class="nav-link text-light">Login</a>
        </li> -->
      </ul>
      <button (click)="logOut()">Log Out</button>
    </div>
  </nav>