<section>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active">Login</h2>
            <form 
                [formGroup]="form"
                (ngSubmit)="onSubmit(form.value)">
            
                <input type="text" name="login" id="login" formControlName="login" class="fadeIn second" placeholder="Username">
                <input type="password" name="pwd" id="pwd" formControlName="pwd" placeholder="Password" 
                    class="fadeIn third">

                <input type="submit" class="fadeIn fourth" value="Submit">
                <div *ngIf="error"><fa-icon [icon]="errorIcon" [styles]="{'color': 'red'}"></fa-icon>
                    Login or password incorrect !</div>
            </form>
        </div>
    </div>
</section>
