<p></p>
<p></p>
<h1>{{ title }}</h1>
<p></p>
<p></p>
<form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)">
    <input type="text" name="code" id="code" formControlName="code" placeholder="Code">
    <input type="text" name="lib" id="lib" formControlName="lib" placeholder="Libellé">
    <button class="button" type="submit">Submit</button>
</form>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Libellé</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows" [row]="row">
            <th scope="row">{{ row.code }}</th>
            <td>{{ row.lib }}</td>
            <td>
                <!-- actions should come here, with icons -->
                <a (click)="onDelete(row)"><fa-icon [icon]="deleteIcon" [styles]="{'color': 'red'}"></fa-icon></a>
                <a (click)="onEdit(row)"><fa-icon [icon]="editIcon" [styles]="{'color': 'blue'}"></fa-icon></a>
            </td>
        </tr>
    </tbody>
</table>