<div>
  Hello from Nicaragua
</div>








<!-- <p>test-component works!</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Name</th>
        <th scope="col">Login</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" [user]="user">
            <th scope="row">{{ user.key }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.login }}</td>
        </tr>
    </tbody>

    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>


</table> -->